/*

Cool blue color pallete: http://colorschemedesigner.com/#3V11Tw0w0w0w0
   8F04A8
   70227E
   5D016D
   BC38D3
   C262D3

http://colorschemedesigner.com/#3V11Tw0w0w0w0
1729b0
2e3884
06266F
4b5cd7
717dd7

http://colorschemedesigner.com/#4R11Tw0w0w0w0
8F04A8
70227E
5D016D
BC38D3
C262D3
*/

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    background: #000;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(12,13,13)),
        color-stop(0.6, rgb(43,00,50))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(12,13,13) 0%,
        rgb(43,00,50) 60%
    );
    margin: 0;
    padding: 0;
    font-family: "Droid Sans", helvetica, arial, sans-serif;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

header, nav, article, aside, footer, hgroup, section {
    display: block;
}

div#main_block {
    /* background-color: #ffffff; */
    background: #ebe8d9;
    font-size: 15px;
    min-height: 700px;
}

a {
    color: #C262D3;
    text-decoration: none;
}

a:hover {
    color: #70227E;
}

li, ol {
    margin: 10px 0 10px 0;
}

/****************************/
/* Header */
/****************************/

div#header {
    height: 100px;
    color: #D0D3D5;
    font-family: Georgia, "Times New Roman", Times, serif;
    /* background: -moz-linear-gradient(-90deg, #AD2E3D, #972431) repeat scroll 0 0 */
}

div#header h1, div#header h2 {
    font-size: 40px;
    margin: 0px 0px -8px 10px;
    font-weight: normal;
    color: #ffffff;
}

div#header h2 {
    font-size: 20px;
    margin: 10px 0px -8px 20px;
    color: #5D016D; 
}

div#header a {
    color: #ffffff;
    text-decoration: none;
}


/****************************/
/* Navigation */
/****************************/
div#navigation {
    border-top: 1px solid #fff;
    background: #70227E;
    width: 100%;
    margin: 0;
}
div#navigation * {
    margin: 0;
    padding: 0;
}
div#navigation ul {
    list-style-type: none;
}
div#navigation li {
    float: left;
}
div#navigation a {
    padding-right: 32px;
    padding-left: 32px;
    display: block;
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    font-size: 21px;
}
div#navigation a:hover,
div#navigation a.selected {
    background: #BC38D3;
}


/****************************/
/* Footer */
/****************************/
div#footer {
    color: #fff;
    border-top: 1px solid #fff;
    background: #2A2A2A;
    width: 100%;
    margin: 0;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 0.8em;
    float: right;
}

div#footer a{
    color: #fff;
}

div#credits p {
    margin: 2px;
    width: 100%;
    text-align: right;
}


/****************************/
/* Content Block */
/****************************/
#prose_block {
    margin-top: 10px;
}

#prose_block article {
}

.post_prose a:hover {
    color:#70227E;
/*    background-color: #eaf4ff;*/
}
.post_prose a {
    color:#BC38D3;
    text-decoration:none;
}

/****************************/
/* Blog Posts */
/****************************/
.blog_post * {
}
.blog_post {
    margin-bottom: 10px;
}

.blog_post h1 {
    font-size: 1.6em;
}

.blog_post h2 {
    font-size: 1.3em;
}

.blog_post h3 {
    font-size: 1.0em;
}

.blog_post article {
    margin: 0 0 30px 0;
    padding-bottom: 5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.blog_post article header {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #6699cc;
    height: 40px;
}
.blog_post article footer {
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #444;
    height: 20px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.blog_post article footer a {
    color: #444;
}
.blog_post .left{
    margin-left: 10px;
    float: left;
}
.blog_post .right{
    margin-right: 10px;
    float: right;
}

.blog_post article header a {
    text-decoration: none;
}

.blog_post header .date {
    float: left;
    text-align: right;
    width: 50px;
    height: 40px;
    font-size: 24px;
    margin-right: 12px;
    padding-right: 10px;
    background-color: #5D016D;
    background-color: rgba(0, 0, 126, 0.2);
    border-right: 1px solid #600;
    border-right-color: #5D016D;
    border-right-color: rgba(0, 32, 96, 0.9);
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    box-shadow: inset 1px 0 15px rgba(0, 72, 96, 0.9);
    -moz-box-shadow: inset 1px 0 15px rgba(0, 72, 96, 0.9);
}

.blog_post header .year {
    font-size: 15px;
    text-align: center;
    width: 40px;
    line-height: 16px;
    margin: 12px 0 0 -7px;
    display: block;
    color: #6677AA;
    transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.blog_post header .day {
    font-size: 18px;
    height: 24px;
    text-align: center;
    float: right;
    margin: -25px 0 0 -10px;
}

.blog_post header .month {
    display:block;
    font-size:12px;
    height:16px;
    font-family: monospace;
    margin-top: -8px;
    margin-right: -1px;
}

.blog_post_title {
    font-size: 1.4em;
    height: 1.4em;
    font-weight: normal;
    overflow: hidden;
}
.blog_post_title a {
    color: #70227E;
    float: left;
    margin-top: 4px;
}
.post_body {
    padding-top: 10px;
    padding-bottom: 15px;
    min-height: 60px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background: #e3e3e3;
}
.post_prose {
    margin-left: 10px;
}
.post_prose a:hover {
    color:#70227E;
/*    background-color: #eaf4ff;*/
}

.post_prose a {
    color:#BC38D3;
    text-decoration:none;
}

.syntax_highlight {
    background: #e3e3e3;
    margin: 15px 10px 15px 20px;
}

/****************************/
/* Sidebar */
/****************************/

aside {
    width: 260px;
    float: right;
    margin-bottom: 30px;
    padding: 0 20px 20px 0;
    position: relative;
    z-index: 1;
}
aside h1, footer h1 {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    height: 28px;
    margin-bottom: 10px;
    color: #fff;
    padding: 0 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

aside nav, aside section {
    margin: 0 0 25px 0;
    padding: 0;
    background: none;
}
aside ul, aside ol {
    list-style: none outside none;
}
aside li {
    margin-left: -25px;
    text-decoration: none;
    border-bottom: 1px dashed #ddd;
}
.tweet_list {
    font-size: 0.8em;
}
.tweet_list li {
    margin-bottom: 10px;
}
.tweet_list img {
    float: left;
    margin-right: 10px;
    }

/****************************/
/* Non-blog pages */
/****************************/
.page_box {

    margin: 20px;
    padding: 20px;
    background: #e3e3e3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
/****************************/
/* Fonts */
/****************************/
.theme_font, .theme_font * {
    font-family: 'Quantico', arial, serif;
}
.theme_font2, .theme_font2 * {
    font-family: 'Raleway', arial, serif;
}
/****************************/
/* Gradients */
/****************************/
.header_gradient {
    background: #70227E; /* Old browsers */
    background: -moz-linear-gradient(top, #70227E 0%, #BC38D3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70227E), color-stop(100%,#BC38D3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #70227E 0%,#BC38D3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #70227E 0%,#BC38D3 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #70227E 0%,#BC38D3 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70227E', endColorstr='#BC38D3',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #70227E 0%,#BC38D3 100%); /* W3C */
}

.post_header_gradient {
    box-shadow: inset 0 -35px 35px -18px #005b79;
    background-color:  #70227E;
    background: #70227E; /* Old browsers */
    background: -moz-linear-gradient(top, #70227E 1%, #C262D3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#70227E), color-stop(100%,#C262D3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #70227E 1%,#C262D3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #70227E 1%,#C262D3 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #70227E 1%,#C262D3 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70227E', endColorstr='#C262D3',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #70227E 1%,#C262D3 100%); /* W3C */
}
.post_footer_gradient {
    background: #DDD; /* Old browsers */
    background: -moz-linear-gradient(top, #DDD 8%, #C262D3 92%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#DDD), color-stop(92%,#C262D3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #DDD 8%,#C262D3 92%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #DDD 8%,#C262D3 92%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #DDD 8%,#C262D3 92%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDD', endColorstr='#C262D3',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #DDD 8%,#C262D3 92%); /* W3C */
}
